.footer-container {
    background-color: var(--green);
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
}

.footer {
    width: 80%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
}

.footer-heading {
    
    margin-top: 1.5rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading h3{
    line-height: 0.9;
}  

.footer-heading-link {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
    
  }

  .footer-heading-link a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: var(--accent);
  }
  .footer-heading-link a:hover {
    opacity: 0.8;
  }

  .footer-heading-link a svg {
    margin-right: 10px;
  }
.footer-email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--accent);
    color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.4s ease-out;
}